# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Иван Йовов\IdeaProjects\Modern Java Technologies\Lab\6. Unit Testing and Mocking\Shopping Cart\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
