# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Иван Йовов\IdeaProjects\Modern Java Technologies\Lab\7. IO Streams and Files\Cities Tagger\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
