# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Иван Йовов\IdeaProjects\Modern Java Technologies\Lab\4. Clean Code and Collections\Smart City Hub\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
